@model Internals.ViewModels.UserRegister
@{
    ViewData["Title"] = "Register Page";
}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Register</h2>
                        <p>Home <span>-</span> Register</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================login_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Have a new account ?</h2>
                        <p>
                            There are advances being made in science and technology
                            everyday, and a good example of this is the
                        </p>

                        <a href="/AuthPage" class="btn_3">Login now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <form class="row contact_form" asp-action="SignUp" method="post" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" required="required" asp-for="Name"
                                       placeholder="Full name">
                            </div>
                                 <span asp-validation-for="Name" class="text-danger"></span>

                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" required="required" asp-for="Email"
                                       placeholder="Email">
                                 <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" required="required" asp-for="PhoneNumber"
                                       placeholder="Phone number">
                                 <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <textarea class="form-control" required="required" asp-for="Address" 
                                           placeholder="Address"></textarea>
                                 <span asp-validation-for="Address" class="text-danger"></span>
                                
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" required="required" asp-for="Username"
                                       placeholder="Username"/>
                                 <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" required="required" asp-for="Password" class="form-control"
                                       placeholder="Password">
                                 <span asp-validation-for="Password" class="text-danger"></span>
                                
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" required="required" asp-for="RePassword" class="form-control"
                                       placeholder="Password Again">
                                 <span asp-validation-for="RePassword" class="text-danger"></span>
                                
                            </div>
                            <div class="col-md-12 form-group p_star">
                                @if (TempData["error"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["error"]
                                    </div>
                                }
                                @if (TempData["success"] != null)
                                {
                                    <div class="alert alert-success">
                                        @TempData["success"]
                                    </div>
                                }
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>